<div class="card">
  <div class="card-content">
    <a class="card-title" href="/intention/{{id}}">
      {{ content }}
    </a>
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="">{{ author.email }}</a>
    <span class="intention__date">{{ createdAt }}</span>
    <span class="intention_answers">{{ answers.length }} Comments</span>
    {{!-- <form class = "" action="/intention/{{id}}?_method=GET" method = "POST"></form>
      <button type = "submit" name="button">Like</button> --}}
    <form class="" action="/intention/{{id}}?_method=DELETE" method="POST">
      <button type="submit" name="button">Delete</button>
    </form>
  </div>
</div>

